body {
    font-family: 'Arial', sans-serif;
    background: radial-gradient(circle at top, #0b0f1a, #05070d);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
h1, h2, #question-text {
    font-family: 'Rubik', sans-serif;
    color: white;
    text-shadow: 0 0 10px rgba(160, 196, 242);
    
    
    
}






#answers-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}
.app-container {
    width: 420px;
    background: linear-gradient(#0f172a, #020617);
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0 0 35px rgba(255, 0, 0, 0.2);
    text-align: center;
        font-family: 'Rubik', sans-serif;
    
}

.header{
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
}

.hide {
    display: none;
}

.correct {
    background-color: green;
    border: 2px solid darkgreen;
    color: white;
}

.wrong {
    background-color: red;
    color: white;
}
#score-display{
    color: #00ff9f;
}

#timer{
    color: #ff3c00;
}

button {
    font-family: 'Rubik', sans-serif;
    margin-top: 10px;
    padding: 10px 15px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(145deg, #8b0000, #ff3c00);
    color: white;
    cursor: pointer;
    transition: 0.25s;
}
    

button:hover {
    transform: scale(1.05);
    box-shadow: 0 0 15px rgba(255, 0, 0);
}


button:active {
    transform: scale(0.5);
}    
.answer-btn {
    width: 48%;
    padding: 12px;
    border-radius: 10px;
    background: linear-gradient(#111827, #020617);
    color: #e6e6e6;
    border: 1px solid rgba(255,255,255,0.05);
    transition: 0.2s;
}    
.correct {
    background: linear-gradient(#065f46, #10b981) !important;
    box-shadow: 0 0 15px rgba(16, 185, 129, 0.6);
}

/* Неправильна */
.wrong {
    background: linear-gradient(#7f1d1d, #ef4444) !important;
    box-shadow: 0 0 15px rgba(239, 68, 68, 0.6);
}
#result-text {
    font-size: 18px;
    margin-top: 15px;
}
#start-screen {
    font-family: 'Rubik', sans-serif;
}
